.indexContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logoHeader {
	display: flex;
	justify-content:space-around;
	align-items:center;
	width: 960px;
}
.webTitleLink {

}
a.webTitleLink:hover {
	text-decoration: none;
}
.shotokanLogo{
	
}
.main {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #ffffff;
	border-radius: 0 0 5px 5px;
}
.hidden {
	display: none;
}
/*************************************/
body {
	font-family: 'Arvo' serif; 
	font-size: 16px;
	background-image: url("images/fuji-min.jpg");
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #d9ad80;
	color: black;
	padding: 3px;
}
nav {
	margin-top: 15px;
}
hr.style-one {
	border: 0;
	height: 1px;
	background: black;
}
.fb-like {
	margin-top: 50px;
}
#instructorName {
	width: 200px;
	text-align:left;
}
#aboutInstructor {
	height:400px;
	width: 900px;
	margin-left:60px;
	margin-bottom:50px;
}
#instructorPicture {
	width: 246px;
	float: left;
	height: 300px;
	border: 2px solid black;
	box-shadow: 10px 10px 5px #888888;
	display: inline-block;
	margin-top: 50px;
}
#aboutMe {
	margin-left:35px;
	float: left;
	height: 100%;
	width: 50%;
	font-size: 20px;
	font-family: 'Raleway', serif;
	display: inline-block;
}
#calendar2 {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Arvo', serif;
	margin-bottom: 15px;
}
#calendarHeader {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #002db3;
	background-image: linear-gradient(to right, white, #b3d9ff, #002db3, #b3d9ff, white);
}
#yearLabel {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	font-family: 'Raleway', serif;
	font-size: 1em;
	color: white;
	text-shadow: 2px 2px black;
	background: #002db3;
	background-image: linear-gradient(to right, white, #b3d9ff, #002db3, #b3d9ff, white);
}
#month {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: middle;
	font-family: 'Raleway', serif;
	font-size: 2em;
	display: inline-block;
	color: white;
	text-shadow: 2px 2px black;
}
#calendarButtonLeft, #calendarButtonRight {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background: none;
	border: none;
	vertical-align: middle;
	display: inline-block;
	font-size: 150%;
}
#calendarButtonLeft:hover, #calendarButtonRight:hover {
	text-shadow:
	-1px -1px 0 #b3d9ff,
	1px -1px 0 #b3d9ff,
	-1px 1px 0 #b3d9ff,
	1px 1px 0 #b3d9ff;
}
#week {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	font-family: 'Raleway', serif;
	border-radius: 5px 5px 5px 5px;
	width: auto;
}
#weekday {
	padding: 10px;
	width: 95px;
	text-align: center;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}
#calendarDay {
	padding: 10px;
	width: 95px;
	text-align: center;
	font-size: 60%;
	vertical-align: bottom;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid black;
	margin-left: 2px;
	margin-right: 2px;
	height: 95px;
}
#dayNumber {
	text-align: right;
	vertical-align: top;
	font-size: 175%;
	margin-bottom: 10px;
	color: black;
}
#webTitle {
	font-size:52px;
	font-family: 'Arvo', serif;
	font-weight: 100;
	height:100px;
	padding-top:25px;
	padding-bottom:30px;
	color: black;
}
#colorBox {
	border: 2px solid black;
	margin: 10px;
	height: 25px;
	width: 25px;
	display: inline-block;
	vertical-align: middle;
}
#colorBoxText {
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	padding-left: 5px;
	font-size: 75%;
}
#colorBox.walterMurray{
	background: #6600cc;
}
#colorBox.albertCommunityCentre{
	background: #cc0000;
}
#colorBox.popeJohnPaulII{
	background: #009933;
}
.foot01 {
	font-family: 'Raleway';
	margin-top: 20px;
	color: #941313;
}
#addressInfo {
	color:black;
}
#wrapper {
	margin-left:auto;
	margin-right:auto;
	width:960px;
}
#contact_header {
	text-align: center;
}
#map {
	margin-top: 30px; 
	margin-bottom: 30px;
	text-align: center;
	padding: 0px 0px 0px 0px;
}
#feesP {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
h1 {
	font-family: 'Arvo', serif;
	border-bottom: 3px solid black;
	color: #002db3;
	font-size: 30px;
}
h2 {
	font-family: 'Arvo', serif;
	color: dimgray;
	font-size: 20px;
	text-align: left;
}
h3{
	font-family: 'Arvo', serif;
	color: black;
	font-size: 14px;
	text-align: left;
}
table {
	width:100%;
}
table, th, td {
	border-collapse: collapse;
	padding: 5px;
	font-family: 'Raleway',serif;
}
th {
	text-align: left;
	color: black;
	background-color: #b3d9ff;
	border: 2px solid black;
}
table tr {
	background-color: ffffff;
}
tr {
	margin-left:50px;
}
td {
	color: black;
	text-align: center;
	border: 2px solid black;
}
p {
	padding-left: 50px;
	margin:0;
	font-size: 15px;
	font-family:Raleway;
	color: black;
}
pre {
	font-size:15px;
	font-family:Raleway;
	font-style:italic;
	font-weight:bold;
	padding-left:50px;
}
ul {
	padding-left: 50px;
	margin:0;
	font-family:Raleway;
}
a {
	text-decoration: none;
	color: blue;
	font-size: 14px;
	font-family:Raleway;
}
a.news {
	padding-left: 50px;
}
a:hover {
	text-decoration: underline;
}
#cssmenu ul,
#cssmenu li,
#cssmenu button,
#cssmenu a {
	margin: 0;
	padding: 0;
	position: relative;
}
#cssmenu {
	line-height: 1;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
	border-bottom: 2px solid #002080;
	width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
	content: '';
	display: block;
	clear: both;
}
#cssmenu button {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
	color: #ffffff;
	display: block;
	font-family: 'Arvo', serif;
	letter-spacing: 2px;
	padding: 19px 20px;
	text-decoration: none;
}
#cssmenu ul {
	list-style: none;
}
#cssmenu > ul > li {
	display: inline-block;
	float: left;
	margin: 0;
}
#cssmenu.align-center {
	text-align: center;
}
#cssmenu.align-center > ul > li {
	float: none;
}
#cssmenu.align-center ul ul {
	text-align: left;
}
#cssmenu.align-right > ul {
	float: right;
}
#cssmenu.align-right ul ul {
	text-align: right;
}
#cssmenu > ul > li > button {
	color: #000000;
	font-size: 17px;
}
#cssmenu > ul > li:hover:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #002080;
	margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5x 0 0 0;
}
#cssmenu.align-right > ul > li:first-child > button,
#cssmenu.align-center > ul > li:first-child > button {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#cssmenu.align-right > ul > li:last-child > button {
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active > button,
#cssmenu > ul > li:hover > button {
	color: #000000;
	box-shadow: inset 0 0 3px #d9d9d9;
	-moz-box-shadow: inset 0 0 3px #d9d9d9;
	-webkit-box-shadow: inset 0 0 3px #d9d9d9;
	background: #f2f2f2;
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100% #f2f2f2));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -ms-linear-gradient(top, #ffff 0%, #f2f2f2 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
}
#cssmenu .has-sub {
	z-index: 1;
}
#cssmenu .has-sub:hover > ul {
	display: block;
}
#cssmenu .has-sub ul {
	display: none;
	position: absolute;
	width: 200px;
	top: 100%;
	left: 0;
}
#cssmenu.align-right .has-sub ul {
	left: auto;
	right: 0;
}
#cssmenu .has-sub ul li {
	*margin-bottom: -1px;
}
#cssmenu .has-sub ul li button {
	background: #002080;
	border-bottom: 2px solid #000000;
	font-size: 15px;
	filter: none;
	display: block;
	line-height: 120%;
	padding: 10px; 
	color: #ffffff;
}
#cssmenu .has-sub ul li:hover button {
	background: #2e2ee3;
}
#cssmenu ul ul li:hover > button {
       color: #ffffff;
}
#cssmenu .has-sub .has-sub:hover > ul {
	display: block;
}
#cssmenu .has-sub .has-sub ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
	left: auto;
	right: 100%;
}
#cssmenu .has-sub .has-sub ul li button {
	background: #2e2ee3;
	border-bottom: 2px solid #000000;
}
#cssmenu .has-sub .has-sub ul li button:hover {
	background: #a1bddd;
	color: #2e2ee3;
	border-bottom: 2px solid #000000;
}
#cssmenu ul ul li.last > button,
#cssmenu ul ul li:last-child > button,
#cssmenu ul ul ul li.last > button, 
#cssmenu ul ul ul li:last-child >button,
#cssmenu .has-sub ul li:last-child > button,
#cssmenu .has-sub ul li.last > button {
	border-bottom: 0;
}	  
.highlight {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#calendarDay.diffMonth {
	background-color: #cce6ff;
}
